{% load otree staticfiles %}
{% load static %}

<div class="card bg-light instructions">
    <div class="card-body">
        <h2> Instrucciones de la Parte 2</h2>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 border rounded" style='background-color: #F8F8FF;'>
                    <p>
                    <b>En la Parte 2 usted interactuará con los mismos {{ Constants.others }} jugadores de la Parte 1.
                        En cada ronda hay 4 etapas.</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 border text-white rounded" style='background-color: #ffffff;'>
                    <img width="100%" src="{% static "switch_inst_p2/Img_I1.jpeg" %}"/>
                </div>
                <div class="col-sm-9 border rounded" style='background-color: #F8F8FF;'>
                    <h5>Etapa 1: Elección de Grupo</h5>
                    <p>
                    Al inicio de cada ronda usted será asignado al mismo grupo al que pertenecía en la Parte 1.
                    En la Etapa 1 usted elegirá un grupo. Usted puede quedarse en el grupo al cual ha sido asignado o
                    puede cambiarse.
                    {% if player.treat == 1 %}
                        <b>El símbolo del grupo indicará el grupo que cada jugador ha elegido. La apariencia de un jugador cambiará
                            cuando cambia su grupo</b>.
                    {% elif player.treat == 2 %}
                        <b>El símbolo del grupo indicará el grupo que cada jugador ha elegido. La apariencia de un jugador no cambiará
                            cuando cambia su grupo</b>.
                    {% elif player.treat == 3 %}
                        <b>El símbolo del grupo no será visible aunque un jugador cambie o se quede en su grupo. La apariencia de
                            un jugador no cambiará cuando cambia su grupo</b>.
                    {% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 border text-white rounded" style='background-color: #ffffff;'>
                    <img width="100%" src="{% static "cambio_inst_p2/Img_I2.png" %}"/>
                </div>
                <div class="col-sm-9 border rounded" style='background-color: #F8F8FF;'>
                    <h5>Etapa 2: Relaciones</h5>
                    <p>
                    En la etapa 2, usted le podrá proponer relaciones a otros jugadores a un costo de {{ Constants.link_cost }} {{ Constants.exp_currency }}.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 border text-white rounded" style='background-color: #ffffff;'>
                    <img width="100%" src="{% static "cambio_inst_p2/Img_I3.png" %}"/>
                </div>
                <div class="col-sm-9 border rounded" style='background-color: #F8F8FF;'>
                    <h5>Etapa 3: Opciones</h5>
                    <p>
                    En la etapa 3, usted elegirá una opción: <button class="btn buttonup btn-sm" disabled>Arriba</button> ó <button class="btn buttondown btn-sm" disabled>Abajo</button>.
                    Usted ganará {{ Constants.exp_currency }} dependiendo del grupo que usted elija grupo, de la opción que usted elija, y del número de sus relaciones activas
                    que hayan elegido <b>la misma opción</b> que usted:
                    </p>
                    <b>Si su grupo elegido es <b>&#9679</b> y usted:</b>
                    <ul>
                        <li>elige <button class="btn buttonup btn-sm" disabled>Arriba</button>, usted recibe <b>{{ Constants.liked_gain }} {{ Constants.exp_currency }}</b> por cada
                            relación activa que elija <button class="btn buttonup btn-sm" disabled>Arriba</button> (incluyéndolo a usted) y <b>0 {{ Constants.exp_currency }}</b> por
                            cualquier relación activa que elija <button class="btn buttondown btn-sm" disabled>Abajo</button> </li>
                        <br>
                        <li>elige <button class="btn buttondown btn-sm" disabled>Abajo</button>, usted recibe <b>{{ Constants.disliked_gain }} {{ Constants.exp_currency }}</b> por cada
                            relación activa que elija <button class="btn buttondown btn-sm" disabled>Abajo</button> (incluyéndolo a usted) y <b>0 {{ Constants.exp_currency }}</b> por
                            cualquier relación activa que elija <button class="btn buttonup btn-sm" disabled>Arriba</button> </li>
                    </ul>
                    </p>
                    <p>
                    <b>Si su grupo elegido es <b>&#9650</b> y usted:</b>
                    <ul>
                        <li>elige <button class="btn buttondown btn-sm" disabled>Abajo</button>, usted recibe <b>{{ Constants.liked_gain }} {{ Constants.exp_currency }}</b> por cada
                            relación activa que elija <button class="btn buttondown btn-sm" disabled>Abajo</button> (incluyéndolo a usted) y <b>0 {{ Constants.exp_currency }}</b> por
                            cualquier relación activa que elija <button class="btn buttonup btn-sm" disabled>Arriba</button> </li>
                        <br>
                        <li>elige <button class="btn buttonup btn-sm" disabled>Arriba</button>, usted recibe <b>{{ Constants.disliked_gain }} {{ Constants.exp_currency }}</b> por cada
                            relación activa que elija <button class="btn buttonup btn-sm" disabled>Arriba</button> (incluyéndolo a usted) y <b>0 {{ Constants.exp_currency }}</b> por
                            cualquier relación activa que elija <button class="btn buttondown btn-sm" disabled>Abajo</button> </li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 border text-white rounded" style='background-color: #ffffff;'>
                    <img width="100%" src="{% static "cambio_inst_p2/Img_I4.png" %}"/>
                </div>
                <div class="col-sm-9 border rounded" style='background-color: #F8F8FF;'>
                    <h5>Etapa 4: Resultados</h5>
                    <p>
                    En la etapa 4, usted verá cuántos {{ Constants.exp_currency }} recibe en esa ronda.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 border text-white rounded" style='background-color: #ffffff;'>
                    <img width="100%" src="{% static "cambio_inst_p2/Img_I5.png" %}"/>
                </div>
                <div class="col-sm-9 border rounded" style='background-color: #F8F8FF;'>
                    <h5>Ganancias en el experimento</h5>
                    <p>
                    Al finalizar el experimento, el computador <b>elegirá de manera aleatoria dos rondas</b>, una de la
                    Parte 1 y una de la Parte 2. El número total de {{ Constants.exp_currency }} que usted haya ganado
                    en las dos rondas seleccionadas determinará su pago. Usted recibirá su pago en efectivo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>